flows.json
[
    {
        "id": "de2c96d6c8a6db9b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af8c99676bf5e9c3",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "b127666df1f5484f8d4b824052b92e6f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b3024e6dcb56fd6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "7f9839bc438f1976",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c84133a152202bac",
        "type": "ui-page",
        "name": "Main",
        "ui": "5b3024e6dcb56fd6",
        "path": "/main",
        "icon": "home",
        "layout": "grid",
        "theme": "7f9839bc438f1976",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "85d40bdcab568229",
        "type": "ui-group",
        "name": "Main Group",
        "page": "c84133a152202bac",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0d164eb33263609b",
        "type": "ui-page",
        "name": "Kill Switches",
        "ui": "5b3024e6dcb56fd6",
        "path": "/kill_switches",
        "icon": "alert",
        "layout": "grid",
        "theme": "7f9839bc438f1976",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c3f71e616313d252",
        "type": "ui-group",
        "name": "Kill Switch Group",
        "page": "0d164eb33263609b",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6e377de09f963d12",
        "type": "mqtt in",
        "z": "de2c96d6c8a6db9b",
        "name": "MQTT IN",
        "topic": "bioreactor/telemetry",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af8c99676bf5e9c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "7ee7182155938e07",
                "9e34ce3724c544fe"
            ]
        ]
    },
    {
        "id": "bb2b4b23098a4a83",
        "type": "mqtt out",
        "z": "de2c96d6c8a6db9b",
        "name": "MQTT OUT",
        "topic": "bioreactor/control/setpoints",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "af8c99676bf5e9c3",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "546f2e647326af1d",
        "type": "ui-form",
        "z": "de2c96d6c8a6db9b",
        "name": "Input Setpoints",
        "group": "85d40bdcab568229",
        "label": "Enter setpoints:",
        "order": 4,
        "width": "9",
        "height": "5",
        "options": [
            {
                "label": "pH",
                "key": "ph",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Temperature",
                "key": "temperature",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Stirring speed",
                "key": "rpm",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ph": "",
            "temperature": "",
            "rpm": ""
        },
        "payload": "",
        "submit": "Confirm",
        "cancel": "Clear",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "0c08dc1426702718"
            ]
        ]
    },
    {
        "id": "7ee7182155938e07",
        "type": "function",
        "z": "de2c96d6c8a6db9b",
        "name": "Parse Telemetry",
        "func": "let out = [];\n\nout.push({\n    payload: msg.payload.ph,\n    topic: \"ph\"\n});\n\nout.push({\n    payload: msg.payload.temperature,\n    topic: \"temperature\"\n});\n\nout.push({\n    payload: msg.payload.rpm,\n    topic: \"rpm\"\n});\n\nreturn [out[0], out[1], out[2]];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "ad0310f99737cb92",
                "1ab199575111f49f"
            ],
            [
                "bd9f4603fea24a37",
                "2da1bdb4b294d09f"
            ],
            [
                "67194730e48d6624",
                "f502358a18211689"
            ]
        ],
        "outputLabels": [
            "ph",
            "temperature",
            "rpm"
        ]
    },
    {
        "id": "ad0310f99737cb92",
        "type": "ui-gauge",
        "z": "de2c96d6c8a6db9b",
        "name": "pH Gauge",
        "group": "85d40bdcab568229",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "pH",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "value"
            },
            {
                "from": "3",
                "color": "#00ff00",
                "text": "",
                "textType": "value"
            },
            {
                "from": "7.1",
                "color": "#0000ff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "14",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bd9f4603fea24a37",
        "type": "ui-gauge",
        "z": "de2c96d6c8a6db9b",
        "name": "Temp Gauge",
        "group": "85d40bdcab568229",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#0000ff",
                "text": "",
                "textType": "value"
            },
            {
                "from": "25",
                "color": "#00ff00",
                "text": "",
                "textType": "value"
            },
            {
                "from": "35",
                "color": "#ff0000",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "67194730e48d6624",
        "type": "ui-gauge",
        "z": "de2c96d6c8a6db9b",
        "name": "RPM Gauge",
        "group": "85d40bdcab568229",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Stirring Speed",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "rpm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#0000ff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "500",
                "color": "#00ff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1500",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "2000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab199575111f49f",
        "type": "ui-chart",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "name": "pH Chart",
        "label": "pH vs Time",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "pH",
        "yAxisProperty": "payload.ph",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f502358a18211689",
        "type": "ui-chart",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "name": "RPM Chart",
        "label": "RPM vs Time",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "RPM",
        "yAxisProperty": "payload.rpm",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2da1bdb4b294d09f",
        "type": "ui-chart",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "name": "Temp Chart",
        "label": "Temperature vs Time",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Temperature (°C)",
        "yAxisProperty": "payload.temperature",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7e363abba4148c25",
        "type": "ui-template",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "page": "",
        "ui": "",
        "name": "Display Setpoints",
        "order": 5,
        "width": 3,
        "height": "4",
        "head": "",
        "format": "<div style=\"padding:10px;\">\n   <h3>Current Setpoints:</h3>\n   <br><br>\n   <p><b>pH:</b> {{ (msg.payload && msg.payload.ph) ? msg.payload.ph : 5 }}</p>\n   <br>\n   <p><b>Temperature:</b> {{ (msg.payload && msg.payload.temperature) ? msg.payload.temperature : 30 }} °C</p>\n   <br>\n   <p><b>Stirring Speed:</b> {{ (msg.payload && msg.payload.rpm) ? msg.payload.rpm : 1000 }} rpm</p>\n</div>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0c08dc1426702718",
        "type": "function",
        "z": "de2c96d6c8a6db9b",
        "name": "Validate Setpoints",
        "func": "const p = msg.payload;\nif (!p) return null;\n\nlet last = flow.get(\"setpoints\") || {\n    ph: 5,\n    temperature: 30,\n    rpm: 1000\n};\n\nif (p.ph !== \"\" && p.ph !== null && p.ph !== undefined) {\n    if (p.ph < 3 || p.ph > 7) return null;\n    last.ph = p.ph;\n}\n\nif (p.temperature !== \"\" && p.temperature !== null && p.temperature !== undefined) {\n    if (p.temperature < 25 || p.temperature > 35) return null;\n    last.temperature = p.temperature;\n}\n\nif (p.rpm !== \"\" && p.rpm !== null && p.rpm !== undefined) {\n    if (p.rpm < 500 || p.rpm > 1500) return null;\n    last.rpm = p.rpm;\n}\n\nflow.set(\"setpoints\", last);\n\nmsg.payload = last;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 500,
        "wires": [
            [
                "7e363abba4148c25",
                "bb2b4b23098a4a83"
            ]
        ]
    },
    {
        "id": "b3722d3fce40280e",
        "type": "mqtt out",
        "z": "de2c96d6c8a6db9b",
        "name": "MQTT OUT",
        "topic": "bioreactor/control/kill",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "af8c99676bf5e9c3",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "14c9bd6348f54721",
        "type": "ui-switch",
        "z": "de2c96d6c8a6db9b",
        "name": "Pumps Kill Switch",
        "label": "Pumps Kill Switch",
        "group": "c3f71e616313d252",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "pumps_killed",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "f15441a83f6decae"
            ]
        ]
    },
    {
        "id": "e7c8ca2f2e9697c3",
        "type": "ui-switch",
        "z": "de2c96d6c8a6db9b",
        "name": "Heating Kill Switch",
        "label": "Heating Kill Switch",
        "group": "c3f71e616313d252",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "heating_killed",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "f15441a83f6decae"
            ]
        ]
    },
    {
        "id": "a9e7d4e543311fee",
        "type": "ui-switch",
        "z": "de2c96d6c8a6db9b",
        "name": "Motor Kill Switch",
        "label": "Motor Kill Switch",
        "group": "c3f71e616313d252",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "motor_killed",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "f15441a83f6decae"
            ]
        ]
    },
    {
        "id": "f15441a83f6decae",
        "type": "function",
        "z": "de2c96d6c8a6db9b",
        "name": "Package Kill Switches",
        "func": "let kill_state = flow.get('kill_switch_state') || {\n    pumps_killed: false,\n    heating_killed: false,\n    motor_killed: false\n};\n\nswitch (msg.topic) {\n    case \"pumps_killed\":\n        kill_state.pumps_killed = msg.payload; \n        break;\n    case \"heating_killed\":\n        kill_state.heating_killed = msg.payload;\n        break;\n    case \"motor_killed\":\n        kill_state.motor_killed = msg.payload;\n        break;\n    default:\n        node.warn(\"Unknown kill switch topic: \" + msg.topic);\n        return null; \n}\n\nflow.set('kill_switch_state', kill_state);\n\nmsg.payload = {\n    pumps_killed: kill_state.pumps_killed,\n    heating_killed: kill_state.heating_killed,\n    motor_killed: kill_state.motor_killed\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "b3722d3fce40280e"
            ]
        ]
    },
    {
        "id": "9e34ce3724c544fe",
        "type": "function",
        "z": "de2c96d6c8a6db9b",
        "name": "Format Data for CSV",
        "func": "var now = new Date();\nvar dateAndTime = now.toISOString();\nvar dateString = dateAndTime.split('T')[0];\nvar timestamp = (dateAndTime.split('T')[1]).split('.')[0];\n\nvar filename = \"./bioreactor_log_\" + dateString + \".csv\";\n\nvar csvLine = timestamp + \",\" + \n              msg.payload.ph + \",\" + \n              msg.payload.temperature + \",\" + \n              msg.payload.rpm + \"\\n\";\n\nvar headerMsg = {\n    filename: filename,\n    payload: \"timestamp,ph,temperature,rpm\\n\"\n};\n\nvar dataMsg = {\n    filename: filename,\n    payload: csvLine\n};\n\nvar key = \"fileWritten_\" + dateString; // reset each day\nvar alreadyWritten = context.get(key);\n\nif (!alreadyWritten) {\n    context.set(key, true);\n    return [headerMsg, dataMsg];\n}\n\nreturn [null, dataMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "f4a16b00b9c71abc"
            ],
            [
                "2bce1d88462ce044"
            ]
        ]
    },
    {
        "id": "f4a16b00b9c71abc",
        "type": "file",
        "z": "de2c96d6c8a6db9b",
        "name": "Add CSV Header",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2bce1d88462ce044",
        "type": "file",
        "z": "de2c96d6c8a6db9b",
        "name": "Write to File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    }
]