flows.json
[
    {
        "id": "de2c96d6c8a6db9b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af8c99676bf5e9c3",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "b127666df1f5484f8d4b824052b92e6f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b3024e6dcb56fd6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "7f9839bc438f1976",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c84133a152202bac",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "5b3024e6dcb56fd6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "7f9839bc438f1976",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "85d40bdcab568229",
        "type": "ui-group",
        "name": "Group 1",
        "page": "c84133a152202bac",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6e377de09f963d12",
        "type": "mqtt in",
        "z": "de2c96d6c8a6db9b",
        "name": "MQTT IN",
        "topic": "project/counter",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "af8c99676bf5e9c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "7ee7182155938e07"
            ]
        ]
    },
    {
        "id": "bb2b4b23098a4a83",
        "type": "mqtt out",
        "z": "de2c96d6c8a6db9b",
        "name": "",
        "topic": "MQTT OUT",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "af8c99676bf5e9c3",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "546f2e647326af1d",
        "type": "ui-form",
        "z": "de2c96d6c8a6db9b",
        "name": "",
        "group": "85d40bdcab568229",
        "label": "Enter setpoints:",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "pH",
                "key": "pH",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Temperature",
                "key": "Temp",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Stirring speed",
                "key": "Stirring",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "pH": "",
            "Temp": "",
            "Stirring": ""
        },
        "payload": "",
        "submit": "Confirm",
        "cancel": "Clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 300,
        "y": 460,
        "wires": [
            [
                "bb2b4b23098a4a83"
            ]
        ]
    },
    {
        "id": "7ee7182155938e07",
        "type": "function",
        "z": "de2c96d6c8a6db9b",
        "name": "function 2",
        "func": "//  {\n//  \"pH\": 5.3,\n//  \"temperature\": 28.4,\n//  \"stirring\": 1200\n//  }\n// Assume msg.payload = { pH: x, temperature: y, stirring: z }\n\nlet out = [];\n\nout.push({\n    payload: msg.payload.pH,\n    topic: \"pH\"\n});\n\nout.push({\n    payload: msg.payload.temperature,\n    topic: \"temperature\"\n});\n\nout.push({\n    payload: msg.payload.stirring,\n    topic: \"stirring\"\n});\n\nreturn [out[0], out[1], out[2]];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "ad0310f99737cb92",
                "bd9f4603fea24a37",
                "67194730e48d6624",
                "1ab199575111f49f",
                "f502358a18211689",
                "2da1bdb4b294d09f"
            ]
        ]
    },
    {
        "id": "ad0310f99737cb92",
        "type": "ui-gauge",
        "z": "de2c96d6c8a6db9b",
        "name": "pH",
        "group": "85d40bdcab568229",
        "order": 4,
        "value": "payload.pH",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "pH",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "value"
            },
            {
                "from": "3",
                "color": "#64f547",
                "text": "",
                "textType": "value"
            },
            {
                "from": "7.1",
                "color": "#0008ff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "14",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bd9f4603fea24a37",
        "type": "ui-gauge",
        "z": "de2c96d6c8a6db9b",
        "name": "Temp",
        "group": "85d40bdcab568229",
        "order": 2,
        "value": "payload.temperature",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00aaff",
                "text": "",
                "textType": "value"
            },
            {
                "from": "25",
                "color": "#00ff33",
                "text": "",
                "textType": "value"
            },
            {
                "from": "35",
                "color": "#ff4000",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "67194730e48d6624",
        "type": "ui-gauge",
        "z": "de2c96d6c8a6db9b",
        "name": "RPM",
        "group": "85d40bdcab568229",
        "order": 1,
        "value": "payload.stirring",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Stirring Speed",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#007bff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "500",
                "color": "#bbff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1500",
                "color": "#ff6600",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "2000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab199575111f49f",
        "type": "ui-chart",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "name": "pH Chart",
        "label": "pH vs Time",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "pH",
        "yAxisProperty": "payload.pH",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f502358a18211689",
        "type": "ui-chart",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "name": "RPM Chart",
        "label": "RPM vs Time",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "RPM",
        "yAxisProperty": "payload.stirring",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2da1bdb4b294d09f",
        "type": "ui-chart",
        "z": "de2c96d6c8a6db9b",
        "group": "85d40bdcab568229",
        "name": "Temp Chart",
        "label": "Temperature vs Time",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Temperature (°C)",
        "yAxisProperty": "payload.temperature",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    }
]